<div class="row">
  <div class="col-sm-6 player-container group-container">
    <div class="tool-buttons">
      <button ng-click="resetGroup(true, false)">Reset Initiative</button>
      <button ng-click="resetGroup(true, true)">Reset Everything</button>
    </div>

    <div class="add-player">
      <input type="text" ng-model="playerName">
      <button ng-click="addPlayer(playerName)">Add</button>
    </div>

    <div class="player-list">
      <div class="player" ng-repeat="player in players">
        <input type="number" ng-model="player.initiative">
        <div class="player-name">{{ player.name }}</div>
      </div>
    </div>
  </div>

  <div class="col-sm-6 monster-container group-container">
    <div class="tool-buttons">
      <button ng-click="resetGroup(false, false)">Reset Initiative</button>
      <button ng-click="resetGroup(false, true)">Reset Everything</button>
    </div>

    <div class="add-player">
      <input type="text" ng-model="enemyName">
      <button ng-click="addEnemy(enemyName)">Add</button>
    </div>

    <div class="player-list">
      <div class="player" ng-repeat="enemy in enemies">
        <input type="number" ng-model="enemy.initiative">
        <div class="player-name">{{ enemy.name }}</div>
        <div class="pull-right" ng-click="deletePlayer()">X</div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 initiaitve-list-container">
    <ol class="initiative-list">
      <li ng-repeat="player in allCombatents | orderBy: 'initiative' : true" ng-show="player.initiative">
        <span class="initiative">{{ player.initiative }}</span> - {{ player.name }}
      </li>
    </ol>
  </div>
</div>